body{
    background:#c0c0c0; 
  }
  
  #wrapper{ 
    width: 900px; 
    margin: 0 auto;
    background:#BA55D3; 
  }
  
  #header{
  position:relative; 
    height: 250px; 
    background-color: #867125; 
     margin-bottom: 5px; 
    border-radius: 5px; 
    box-shadow: rgba(0,0,0,0.5) 0px 1px 3px; 
  }
.image-stack{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

  .image-stack__item--top {
      grid-column: 1 / span 2;
      grid-row: 1; 
      padding-top: 0%; 
      z-index: 1; 
    }
    
 .image-stack__item--bottom {
    grid-column: 1 / 1;
    grid-row: 1; 
  }
  h1{ 
    margin:0 0 10px 40px; 
    color:#35ac92; 
  }
  .nomer{ 
    position:absolute; 
    top:5px; 
    left:680px; 
    font-size: 25px; 
    font-style:italic; 
    font-weight:bold; 
    color:#6a3085; 
  }
  
  
  
  #sidebar{ 
    background-color: hsl(167, 98%, 51%); 
    width: 180px; 
    padding: 10px; 
    float: right; 
    border-radius: 5px; 
    box-shadow: rgba(0,0,0,0.5) 0px 1px 3px; 
  }
  .marcer{ 
    float: left; 
    margin: 5px 5px 0 0; 
  }
  
  
  
  #content{ 
    margin-bottom: 5px; 
    width: 676px; 
    padding: 10px; 
    background: #ffffff; 
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
  }
  .left{ 
    float: left;
    margin: 30px 7px 7px 7px;
  }
  .right{ 
    float: right;
    margin: 7px 0 7px 7px;
  }
  
  
  #footer{ 
    height:80px; 
    background-color: #ffffff; 
    margin-bottom: 10px;
    border-radius: 5px; 
    box-shadow: rgba(0,0,0,0.5) 0px 1px 3px; 
  }
  .clear{ 
    clear: both;
  }
    .fon{ 
    float:left; 
    margin:20px 0 0 20px;
  }
  .fax{ 
    float:left;
    margin:20px 0 0 60px;
  }
  .mail{ 
    float:left;
   margin:20px 0 0 60px;
  }